<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>hotel.dao.strategy</param-name>
        <param-value>hotel.web.model.MySqlHotelReportDAO</param-value>
    </context-param>
    <context-param>
        <param-name>db.accessor.strategy</param-name>
        <param-value>hotel.web.model.MySqlDatabaseAccessor</param-value>
    </context-param>
    <context-param>
        <param-name>driver.class</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/hotel</param-value>
    </context-param>
    <context-param>
        <param-name>db.username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>admin</param-value>
    </context-param>
    <servlet>
        <servlet-name>hotelcontroller</servlet-name>
        <servlet-class>com.mycompany.mavenhotelwebjpa.controller.HotelManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hotelcontroller</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lookupcontroller</servlet-name>
        <servlet-class>com.mycompany.mavenhotelwebjpa.controller.HotelLookupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lookupcontroller</servlet-name>
        <url-pattern>/lookupcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrationcontroller</servlet-name>
        <servlet-class>com.mycompany.mavenhotelwebjpa.controller.UserRegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationcontroller</servlet-name>
        <url-pattern>/registrationcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationVerifier</servlet-name>
        <servlet-class>com.mycompany.mavenhotelwebjpa.controller.RegistrationVerifierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationVerifier</servlet-name>
        <url-pattern>/verifier</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
